
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic);

$font-stack:    Helvetica, sans-serif;

.sk-layout {
	font-family:Lato, Helvetica
}

.sk-hits-list-hit__title {
	font-family:Lato, Helvetica
}

.sk-hits-list-hit__text {
	font-family:Lato, Helvetica;
	font-size:15px;
	text-align:justify;
	max-width:100%;
}

.sk-hits-list-hit__subtitle {
	font-family:Lato, Helvetica;	
}

.sk-hits-list-hit__subtitle_item_key{
	font-weight:bold;
	margin-right:3px;
}

.sk-hits-list-hit__subtitle_item_val {
	margin-right: 5px;
}

.sk-hierarchical-menu-option__text {
	text-transform: uppercase;
}

.sk-item-list-option__text {
	text-transform: uppercase;
}

/*
.sk-item-list-option.is-histogram .sk-item-list-option__count {
	color:#08C;
	font-weight:bold;
}

.sk-hierarchical-menu-option__count {
	color:#08C;
}

.sk-item-list-option__count {
	color:#08C;
}*/

.layout__crime-app {
  .layout__results {
    position:fixed;
    top:0;
    left:300px;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
  }

  .layout__filters {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:300px;
    margin:0;
    overflow:auto;
  }

}

.sk-top-bar__content .my-logo {  
  color: #FFD700;
  flex:0 0 350px;
  padding:13px 20px;
  margin-right:15px;
  line-height: 16px;
  font-size:25px;  
}

.view-src-link {
  position:fixed;
  line-height:40px;
  background:#eee;
  right:10px;
  bottom:10px;
  text-decoration: none;
  padding:0 20px;
  border-radius: 3px;
  color:#08c;
  display:none;
}

.layout__crime-app {

}
